.button-theme {
    background: #44a5b0;
}

.button-theme:hover {
    background: #ea1945;
}

.intro-section-2 .btn {
    background: #44a5b0;
}

.btn-secton .carousel-indicators .active {
    background-color: #44a5b0;
}

.testimonial-3 .carousel-indicators li.active {
    background: #44a5b0;
}

.testimonial-3 .testimonial-info h5 a {
    color: #44a5b0;
}

.service-info .icon {
    background: #44a5b0;
}

.services-2 .service-info .icon i {
    color: #44a5b0 !important;
}

.rating-area .average-rating {
    background: #44a5b0;
}

.testimonial .testimonial-info-box h6 {
    color: #44a5b0;
}

.main-header .navbar-light .navbar-toggler {
    border: solid 1px #44a5b0;
    background: #44a5b0;
}

.intro-section-2 .btn:hover {
    background: #ea1945;
}

.about-info .Properties-info ul li {
    background: #44a5b0;
}

.properties-details-Slider .heading-listing-3 .rent {
    border: solid 1px #44a5b0;
    background: #44a5b0;
}

.properties-details-Slider .heading-listing-3 .location i {
    color: #44a5b0;
}

.properties-details-Slider .price {
    color: #44a5b0;
}

.intro-section-2:before {
    background: #44a5b0;
}

.setting-button i {
    color: #44a5b0;
}

.dashboard-header .breadcrumb-nav ul li a:hover {
    color: #44a5b0;
}

.top-header {
    background-color: #44a5b0;
}

.blog-2 .date-box {
    background: #44a5b0;
}

.blog-2 .date-box::after {
    border-right: 15px solid #44a5b0;
}

#page_scroller {
    background: #44a5b0;
}

.intro-section .btn:hover {
    color: #44a5b0;
}

.service-info-4 i {
    color: #44a5b0;
}

.service-info-2 .icon i {
    color: #44a5b0;
}

.service-info-3 .icon i {
    color: #44a5b0;
}

.service-info-3 .rm-btn {
    color: #44a5b0;
}

.services-4 .service-info-2 .icon {
    color: #44a5b0;
}

.services-4 .service-info-2 .rm-btn {
    color: #44a5b0;
}

.counters-3 .counter-box h1 {
    color: #44a5b0;
}

.counters-3 .counter-box .icon i {
    color: #44a5b0;
}

.property-box-3 .footer ul li a:hover {
    color: #44a5b0;
}

.intro-section {
    background: #44a5b0;
}


/** Tab box 2 start **/

.tab-box-2 .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: transparent;
    border-bottom: solid 2px #44a5b0;
    border-radius: 0;
    color: #44a5b0;
}

.tab-box .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background: #44a5b0;
    border-radius: 0;
}

.checkbox-theme input[type="checkbox"]:checked+label::before {
    border: 2px solid #44a5b0;
}

.main-header .dropdown-menu a:hover {
    color: #44a5b0;
}

input[type=checkbox]:checked+label:before {
    color: #44a5b0;
}

.banner-bg-color {
    background: #44a5b0;
}

.btn-theme {
    background: #44a5b0;
    border: solid 1px #44a5b0;
}

.btn-theme:hover {
    background: #f5832c;
    border: solid 1px#f5832c;
}

.btn-white-lg-outline:hover {
    color: #FFF;
    background: #44a5b0;
    border: solid 2px #44a5b0;
}

.properties-amenities ul li i {
    color: #44a5b0
}

.pages-404 .btn {
    background: #44a5b0;
}

.pages-404 .btn:hover {
    background: #ea1945;
}

.border-button-theme {
    color: #44a5b0;
    border: 2px solid #44a5b0;
}

.banner-detail-box .red-box {
    background: #44a5b0 url(../../img/slider-detail.png) center center;
}

.banner-detail-box .white-box .slide-price {
    color: #44a5b0;
}

.banner-detail-box .white-box .slide-location::after {
    background-color: #44a5b0;
}

.search-options-btn,
.search-options-btn:hover {
    background: #44a5b0;
}

.search-button {
    background: #44a5b0;
}

.pricing-1 .plan-list ul li i {
    color: #44a5b0;
}

.search-button:hover {
    color: #fff;
    background: #ea1945;
}

.pricing-1 .plan-header .plan-price {
    color: #44a5b0;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #44a5b0;
}

.bootstrap-select .dropdown-menu>.active>a,
.bootstrap-select .dropdown-menu>.active>a:focus,
.bootstrap-select .dropdown-menu>.active>a:hover {
    color: #44a5b0;
}

.contact .bootstrap-select .dropdown-menu li a:hover .text {
    color: #fff;
}

.contact .bootstrap-select .dropdown-menu li a:hover {
    background: #44a5b0;
}

.listing-badges .featured {
    background-color: #44a5b0;
}

.recent-properties-box .detail header::after {
    background-color: #44a5b0;
}

.blog-1 .detail .post-meta span a i {
    color: #44a5b0;
}

.blog-1 .detail h3 a:hover {
    color: #44a5b0;
}

.blog-1 .date-box {
    color: #44a5b0;
}

.about-info:before {
    border: 2px dashed #44a5b0;
}

.property-box .detail .title a {
    color: #44a5b0;
}

footer .footer-item .contact-info li label a:hover {
    color: #44a5b0;
}

.service-box .heading .number h5 {
    color: #44a5b0;
}

.service-box .heading .title h4 a:hover {
    color: #44a5b0;
}

.main-header .form-inline .submit {
    border: solid 1px #44a5b0;
    color: #44a5b0;
}

.main-header .form-inline .submit:hover {
    border: solid 1px #44a5b0;
    background: #44a5b0;
    color: #fff;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #44a5b0;
}


/*.main-header .navbar-expand-lg .navbar-nav .active .nav-link {
    color: #44a5b0 !important;
}*/

.main-header .navbar-expand-lg .user-account li a:hover {
    color: #44a5b0;
}

.plan .price-header h1 {
    color: #44a5b0;
}

.btn-outline {
    border: solid 1px #44a5b0;
    color: #44a5b0;
}

.btn-outline:hover {
    border: solid 1px #44a5b0;
    background: #44a5b0;
    color: #fff;
}

.btn-outline-2:hover {
    border: solid 1px #ea1945;
    background: #ea1945;
    color: #fff;
}

.btn-outline-2 {
    border: solid 2px #44a5b0;
    color: #44a5b0;
    font-weight: 600;
}

.heading-properties-2 h3 span {
    color: #44a5b0;
}

.btn-outline-2:hover {
    border: solid 2px #ea1945;
    background: #ea1945;
    color: #fff;
}

.map-properties .map-properties-fetures span i {
    color: #44a5b0;
}

.heading-properties-3 h1 span {
    color: #44a5b0;
}

.heading-properties-2 h1 span {
    color: #44a5b0;
}

.heading-properties-2 ul li i {
    color: #44a5b0;
}

.heading-properties-2 .ratings-2 span {
    background: #44a5b0;
}

.footer .form-inline .btn {
    background: #44a5b0;
    color: #fff;
}

.about-box .detail h3 {
    color: #44a5b0;
}

li.active.btn.filtr-button.filtr {
    color: #44a5b0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2) !important;
}

.filteriz-navigation li:hover {
    color: #44a5b0;
}

.change-view-btn {
    color: #44a5b0;
    border: solid 1px #44a5b0;
}

.change-view-btn:hover {
    border: solid 1px #44a5b0;
    background: #44a5b0;
}

.sub-banner .page-info .breadcrumb-area ul li a:hover {
    color: #44a5b0;
}

.active-view-btn {
    background: #44a5b0;
    border: solid 1px #44a5b0;
}

.active-view-btn:hover {
    border: solid 1px #44a5b0;
    color: #44a5b0;
}

.show-more-options {
    color: #44a5b0 !important;
}

.form-content-box .footer span a {
    color: #44a5b0;
}

.pagination>li>.active {
    background: #44a5b0;
}

.pagination>li>a:hover {
    background: #44a5b0;
    color: #fff;
}

.read-more {
    color: #44a5b0;
}

.blog-2 .date-box {
    background: #44a5b0;
}

.slick-btn .slick-arrow-buton-2 {
    color: #44a5b0;
}

.property-box-5 .tag-2 {
    background: #44a5b0;
}

.property-box-5 .tag-2:after {
    border-left: 10px solid #44a5b0;
}

.plan-price {
    color: #44a5b0;
}

.slick-btn .sab-4:hover {
    background: #44a5b0;
    color: #fff;
}

.slick-btn .sab-3:hover {
    background: #44a5b0;
    color: #fff;
}

.blog-2 h4 a {
    color: #44a5b0;
}

.blog-3 .date-box {
    background: #44a5b0;
}

.blog-2 .date-box::after {
    border-right: 10px solid #44a5b0;
}

.blog-2 .detail h3 a {
    color: #44a5b0;
}

.blog-2 .detail .post-meta span a i {
    color: #44a5b0;
}

.range-slider .ui-slider .ui-slider-handle {
    background: #44a5b0;
}

.our-agent-sidebar .carousel-indicators .active {
    background: #44a5b0;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #44a5b0;
}

.range-slider .ui-widget-header {
    background-color: #44a5b0;
}

.b-btn {
    color: #44a5b0;
}

.blog-3 h3 a:hover {
    color: #44a5b0;
}

.posts-by-category ul li a:hover {
    color: #44a5b0;
}

.tags-box ul li a:hover {
    border: 1px solid #44a5b0;
    background: #44a5b0;
}

.latest-tweet a {
    color: #44a5b0;
}

.comment-meta a {
    color: #44a5b0;
}

.comment-meta a:hover {
    color: #ea1945;
}

.blog-tags a:hover {
    border: 1px solid #44a5b0;
    background: #44a5b0;
    color: #fff;
}

.banner-6 .meta ul li i {
    color: #44a5b0;
}

.price-box span {
    color: #44a5b0;
    font-weight: 700;
}

.banner-6 h2 span {
    color: #44a5b0;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #44a5b0;
}

.breadcrumbs li a:hover {
    color: #44a5b0;
}

.helping-center ul li i {
    color: #44a5b0;
}

.my-account-box .title::after {
    background-color: #44a5b0;
}

.dashboard-nav ul li.active,
.dashboard-nav ul li:hover {
    border-color: #44a5b0;
}

.breadcrumb-nav ul .active {
    color: #44a5b0;
}

.dashboard-nav ul li a:hover {
    color: #44a5b0;
}

.photoUpload span {
    color: #44a5b0;
}

.typography-page mark.color {
    background-color: #44a5b0;
}

.faq-accordion .card-header .collapsed.card-title:before {
    color: #44a5b0;
}

.manage-table .title-container h2 a {
    color: #44a5b0;
}

.manage-table .action a:hover {
    color: #44a5b0;
}

.comment-content .btn-1:hover {
    background: #44a5b0;
    color: #fff;
}

.dashboard-nav ul li span.nav-tag {
    background: #44a5b0;
}

.bg-active {
    background: #44a5b0;
    color: #fff !important;
}

.typography .list-3 li:before,
.list-2 li:before,
.list-1 li:before {
    color: #44a5b0;
}

.numbered.color.filled ol>li::before {
    border: 1px solid #44a5b0;
    background-color: #44a5b0;
}

.numbered.color ol>li::before {
    border: 1px solid #44a5b0;
    color: #44a5b0;
}

.widget-link:hover {
    color: #44a5b0;
}

.coming-soon-inner .btn,
.coming-soon-inner .btn:hover,
.coming-soon-inner .btn:active {
    background: #44a5b0;
}

.property-box-2 .detail .title a {
    color: #44a5b0;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #44a5b0;
}

.tabbing-info .tabbing-box .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    color: #4d4d4d;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
    background-color: #44a5b0;
}

.view-all ul li a:hover {
    background: #44a5b0;
    color: #fff;
}

.map-marker:hover {
    background-color: #44a5b0;
    cursor: pointer;
}

.map-marker:hover:before {
    border-color: #44a5b0 transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color: #44a5b0;
}

.map-marker.featured:hover:before {
    border-color: #44a5b0 transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid #44a5b0;
}

.contact-section .btn-section .active-bg {
    color: #44a5b0;
}

.contact-section .form-section .checkbox-theme input[type="checkbox"]:checked+label::before {
    background-color: #ff2f2f;
    border-color: #ff2f2f;
}

.contact-section .form-section .btn-theme {
    background: #44a5b0;
}

.contact-section .form-section .btn-theme:hover {
    background: #44a5b0;
}

.marker-active .map-marker {
    background-color: #44a5b0;
}

.marker-active .map-marker:before {
    border-color: #44a5b0 transparent transparent transparent;
}

.slick-arrow-buton:hover {
    background: #44a5b0;
}

.map-properties .address i {
    color: #44a5b0;
}

.map-properties .map-content h4 a {
    color: #44a5b0;
}

.dropzone-design:hover {
    border: 2px dashed #44a5b0;
}

@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #44a5b0;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #44a5b0;
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        background-color: #44a5b0 !important;
    }

    .main-header .navbar-default .nav>li>a:hover {
        background: #44a5b0;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        background-color: #44a5b0 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        background: #eee;
    }
}

@media (min-width: 992px) {
    /*.header-transparent .navbar-expand-lg .navbar-nav .active .nav-link,
    .header-transparent .navbar-expand-lg .navbar-nav .nav-link:hover
    {
        color: #fff !important;
    }

    .header-transparent .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }

    .header-transparent .link-color {
        color: #fff;
    }*/
}