@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,500,600,700,800,900');
@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('../fonts/BebasNeue-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.btn-primary.active,
.btn-primary:active,
.btn-xl.active,
.btn-xl:active,
.open .dropdown-toggle.btn-primary,
.open .dropdown-toggle.btn-xl {
    background-image: none
}

body {
    overflow-x: hidden;
    webkit-tap-highlight-color: #f5832c;
    font-family: 'Montserrat', sans-serif;
}

.btn-primary,
.btn-xl,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700
}

.text-muted {
    color: #777
}

.text-primary,
a {
    color: #f5832c
}

p {
    font-size: 14px;
    line-height: 1.75
}

p.large {
    font-size: 16px
}

a,
a.active,
a:active,
a:focus,
a:hover {
    outline: 0
}

a.active,
a:active,
a:focus,
a:hover {
    color: #fec503
}

.img-centered {
    margin: 0 auto
}

.bg-light-gray {
    background-color: #eee
}

.bg-darkest-gray {
    background-color: #222
}

.btn-primary {
    color: #fff;
    background-color: #f5832c;
    border-color: #f5832c
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #f5832c;
    border-color: #f5832c
}

.btn-primary .badge {
    color: #f5832c;
    background-color: #fff
}

.btn-xl {
    color: #fff;
    background-color: #f5832c;
    border-color: #f5832c;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}

.btn-xl.active,
.btn-xl:active,
.btn-xl:focus,
.btn-xl:hover,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-xl.disabled,
.btn-xl.disabled.active,
.btn-xl.disabled:active,
.btn-xl.disabled:focus,
.btn-xl.disabled:hover,
.btn-xl[disabled],
.btn-xl[disabled].active,
.btn-xl[disabled]:active,
.btn-xl[disabled]:focus,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl,
fieldset[disabled] .btn-xl.active,
fieldset[disabled] .btn-xl:active,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl:hover {
    background-color: #f5832c;
    border-color: #f5832c
}

.btn-xl .badge {
    color: #f5832c;
    background-color: #fff
}

.navbar-custom {
    background-color: transparent;
    border-color: transparent
}

.navbar-custom .navbar-brand {
    color: #f5832c;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}

.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover {
    color: #fec503
}

.navbar-custom .nav li a,
.navbar-custom .navbar-toggle {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}

.navbar-custom .navbar-toggle {
    background-color: #f5832c;
    border-color: #f5832c;
    font-size: 12px
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:hover {
    background-color: #f5832c
}

.navbar-custom .nav li a {
    font-weight: 600;
    letter-spacing: 0;
    text-transform: capitalize;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.46);
    font-size: 12px;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
    color: #f5832c !important;
    outline: 0;
    background: transparent !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #f5832c !important;
    background: transparent !important;
}

.navbar-nav .dropdown-menu {
    background: rgb(27, 164, 179);
}

.navbar-custom .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #f5832c
}

.navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #fec503
}

.check-lists .queId {
    color: #eee;
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#stickThis {
    padding: 10px;
}

#stickThis.stick {
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    left: 0;
    right: 0;
    color: #fff;
    background-color: #44a5b0;
}

#stickThis.stick .questions_remaining {
    color: #fff;
}

.destails-list {
    margin-bottom: 25px;
}

.destails-list ul {
    margin-top: 15px;
    padding-left: 35px;
}

.destails-list li {
    list-style: none;
    margin-bottom: 10px;
}

.destails-list li:before {
    content: '\f192';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 10px;
    color: #ff4200;
}


/*range slider*/

.left-align-col .slider-selection {
    background: #7abfc7 !important;
}

.left-align-col .slider-success .slider-selection {
    background-color: #5cb85c !important;
}

.left-align-col .slider-primary .slider-selection {
    background-color: #428bca !important;
}

.left-align-col .slider-info .slider-selection {
    background-color: #5bc0de !important;
}

.left-align-col .slider-warning .slider-selection {
    background-color: #f0ad4e !important;
}

.left-align-col .slider-danger .slider-selection {
    background-color: #d9534f !important;
}

.left-align-col .slider.slider-horizontal {
    width: 100% !important;
    height: 20px;
}

.left-align-col .slider-handle {
    background-color: #fff !important;
    background-image: none !important;
    -webkit-box-shadow: 1px 1px 24px -2px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 1px 1px 24px -2px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 1px 1px 24px -2px rgba(0, 0, 0, 0.75) !important;
}

.left-align-col .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #bdbdbd !important;
    text-align: center;
    background-color: transparent !important;
    border-radius: 4px;
}

.left-align-col .tooltip.top .tooltip-arrow {
    display: none !important;
}

.left-align-col .slider .tooltip.top {
    margin-top: -47px !important;
}

.left-align-col .well {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
    padding: 0;
}

.left-align-col .slider-ghost .slider-track {
    height: 5px !important;
}

.left-align-col .slider-ghost .slider-handle {
    top: -2px !important;
    border: 5px solid #7abfc7
}

.left-align-col .slider-success.slider-ghost .slider-handle {
    border-color: #5cb85c;
}

.left-align-col .slider-primary.slider-ghost .slider-handle {
    border-color: #428bca;
}

.left-align-col .slider-info.slider-ghost .slider-handle {
    border-color: #5bc0de;
}

.left-align-col .slider-warning.slider-ghost .slider-handle {
    border-color: #f0ad4e;
}

.left-align-col .slider-danger.slider-ghost .slider-handle {
    border-color: #d9534f;
}

.left-align-col .tooltip-inner {
    position: relative;
    width: 40px;
    color: #fff !important;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #358791 !important;
    padding: 5px 10px;
    margin-left: 0px;
}

.left-align-col .tooltip-inner::after {
    position: absolute;
    bottom: 0;
    left: 13px;
    width: 0;
    height: 0;
    border-top: 6px solid #358791;
    border-bottom: 0px solid #358791;
    border-left: 6px solid transparent;
    content: '';
    top: 30px;
    border-right: 6px solid transparent;
}

.left-align-col {
    margin-top: 40px;
    padding-left: 0
}

.mte-4 {
    margin-top: 4em;
}

.em-service-title-1 h2 {
    color: #000;
    margin: 5px 0 10px;
    font-size: 18px;
    padding: 0;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}

.m-b-20 {
    margin-bottom: 20px;
}

.form-checkbox input[type=checkbox]+label {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #44a5b0;
    border-bottom: 2px solid #7abfc7;
    padding: 5px 10px;
    border-radius: 5px;
}


/*sentence list css*/

.check-content-list.check-sentence .form-checkbox {
    width: 100%;
}

.check-content-list.check-sentence .form-checkbox label {
    width: auto;
    max-width: 100%;
}

.check-sentence .form-checkbox input[type=checkbox]+label {
    color: #000;
    background-color: #fff;
    border-bottom: 2px solid #fff;
}

.check-content-list.check-sentence .form-checkbox input[type=checkbox]:checked+label {
    color: #fff;
}

.form-checkbox input[type="checkbox"]:checked+label {
    background-color: #f5832c;
    border-bottom: 2px solid #7b3602;
}

.check-content-list .form-checkbox {
    display: inline-block;
    width: 19%;
    margin: 0 0px 3px 0;
}

.check-content-list .form-checkbox label {
    max-width: 185px;
    width: 100%;
    text-align: center;
}

.check-content-list.add_group {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 8px 0 0px 8px !important;
    margin-top: 1em;
}

.scenario-questions {
    margin-bottom: 0em;
}

.scenario-questions p {
    text-align: justify;
}

.scenario-questions .service-heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.scenario-questions .service-heading {
    position: relative;
}

.scenario-questions .service-heading::before {
    border-bottom: 2px solid #ff4200;
    position: absolute;
    content: '';
    background: #ff4200;
    width: 110px;
    height: 2px;
    bottom: -1px;
    left: 0;
}

.top-header-text h3 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    z-index: 8;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.result-section .x_title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}

.result-section .x_title::before {
    border-bottom: 2px solid #7abfc7;
    position: absolute;
    content: '';
    background: #7abfc7;
    width: 110px;
    height: 2px;
    bottom: -1px;
    left: 0;
}

.result-single-section {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
    padding: 20px 40px 15px 40px;
    margin-top: 4em;
}

.result-single-section .x_title h2 {
    font-size: 20px;
    color: #000;
    margin-bottom: 0px;
    margin-top: 0;
}

.result-single-section .panel-title a {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.result-single-section .x_content .panel-title>a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f106";
    padding-right: 5px;
}

.result-single-section .x_content .panel-title>a.collapsed:before {
    float: right !important;
    content: "\f107";
}

.result-single-section .x_content .panel-title>a:hover,
.result-single-section .x_content .panel-title>a:active,
.result-single-section .x_content .panel-title>a:focus {
    text-decoration: none;
}

.btn-orange2 {
    max-width: 222px;
    width: 100%;
}

@media (min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: none
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-custom .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-custom.affix {
        background-color: #222;
        padding: 10px 0
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em
    }
}

.header-company-to-caoch {
    background-color: #44a5b0b5;
}

header {
    background-image: url(../images/header-banner-image.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px
}

header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px
}

@media (min-width:768px) {
    header .intro-text {
        padding-top: 185px;
        padding-bottom: 200px
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px
    }
    header .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px
    }
}

#portfolio .portfolio-item .portfolio-caption p,
section h3.section-subheading {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic
}

section {
    padding: 100px 0
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}

section h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px
}

@media (min-width:768px) {
    section {
        padding: 150px 0
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: capitalize;
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(254, 209, 54, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}

#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0
}

#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    margin: 0
}

footer span.copyright,
footer ul.quicklinks {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif
}

#portfolio * {
    z-index: 2
}

@media (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px
}

.timeline>li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px
}

.timeline>li:after,
.timeline>li:before {
    content: " ";
    display: table
}

.timeline>li:after {
    clear: both
}

.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left
}

.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline>li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #f5832c;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center
}

.timeline>li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline>li:last-child {
    margin-bottom: 0
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}

.timeline .timeline-heading h4.subheading {
    text-transform: none
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0
}

@media (min-width:768px) {
    .timeline:before {
        left: 50%
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px
    }
    .timeline>li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right
    }
    .timeline>li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px
    }
    .timeline>li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px
    }
}

@media (min-width:992px) {
    .timeline>li .timeline-panel,
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px
    }
    .timeline>li {
        min-height: 150px
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px
    }
    .timeline>li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px
    }
}

@media (min-width:1200px) {
    .timeline>li {
        min-height: 170px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px
    }
}

.team-member {
    text-align: center;
    margin-bottom: 50px
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none
}

.team-member p {
    margin-top: 0
}

aside.clients img {
    margin: 50px auto
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat
}

section#contact .section-heading {
    color: #fff
}

section#contact .form-group {
    margin-bottom: 25px
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px
}

section#contact .form-group input.form-control {
    height: auto
}

section#contact .form-group textarea.form-control {
    height: 236px
}

section#contact .form-control:focus {
    border-color: #f5832c;
    box-shadow: none
}

section#contact ::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact :-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact ::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact :-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eee
}

section#contact .text-danger {
    color: #e74c3c
}

footer {
    padding: 25px 0;
    text-align: center
}

footer span.copyright {
    line-height: 40px;
    text-transform: uppercase;
    text-transform: none
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    text-transform: uppercase;
    text-transform: none
}

ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #f5832c
}

.btn.active,
.btn:active,
.btn:active:focus,
.btn:focus {
    outline: 0
}

.portfolio-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: auto
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}

::-moz-selection {
    text-shadow: none;
    background: #f5832c
}

::selection {
    text-shadow: none;
    background: #f5832c
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}


/**/

.steps-single p {
    color: #333;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    /*    width: 600px;
    */
    margin-bottom: 20px;
}

.steps-single .service-heading {
    margin: 10px 0;
    text-transform: capitalize;
    color: #000;
    font-size: 20px;
}

.btn-orange1 {
    max-width: 336px;
    width: 100%;
}

.btn-orange {
    background: #44a5b0;
    color: #fff;
    font-weight: 600;
    padding: 13px 45px;
    border-radius: 30px;
    border: 4px solid #00616c;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.4;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.46);
    border-width: 5px;
    border-color: rgb(0, 97, 108);
    border-style: solid;
    background-color: rgb(68, 165, 176);
    box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.34);
    margin-right: 10px;
    /*max-width: 278px;
   width: 100%;*/
}

.Broadcast-btn {
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
}

.btn-orange:hover,
.btn-orange:focus {
    color: #fff;
}

.highlighted-block {
    background: #ff8400;
}

.highlighted-block h4.service-heading {
    color: #fff;
    margin-bottom: 5px;
}

.highlighted-block p {
    color: #fff;
    margin-bottom: 5px;
}

.steps-single-section {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
    padding: 20px 0 15px 40px;
    margin-top: 4em;
}

.navbar-brand {
    padding: 15px 0px;
}

.welcome-video-testimonial-block {
    position: relative;
    width: auto;
    height: 380px;
    overflow: hidden;
    margin-bottom: 30px;
}

.welcome-video-testimonial-block .welcome-video-thumbnail {
    height: 380px;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-size: cover;
    top: 0;
    left: 0;
}

.welcome-video-testimonial-block .welcome-video-thumbnail img {
    width: 100%;
    height: 100%;
}

.welcome-video-testimonial-block .modal-video {}

.welcome-video-testimonial-block .modal-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px;
}

.welcome-video-testimonial-block .welcome-video-play {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 50%;
    margin-left: -40px;
    margin-top: -18px;
    text-decoration: none;
}

.welcome-video-testimonial-block .welcome-video-play::before {
    text-shadow: 0px 2px 0px #000;
    content: "\f144";
    font: normal normal normal 14px/1;
    font-family: FontAwesome;
    font-weight: 900;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 50px;
    color: #fff;
}

.welcome-video-testimonial-block .welcome-video-play:hover::before {
    color: #ff4200;
}

.mb10 {
    margin-bottom: 10px;
}

.video-testimonial-block {
    position: relative;
    width: auto;
    height: 190px;
    overflow: hidden;
    margin-bottom: 30px;
}

.video-testimonial-block .video-thumbnail {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-size: cover;
    top: 0;
    left: 0;
}

.video-testimonial-block .video {}

.video-testimonial-block .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px;
}

.video-testimonial-block .video-play {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 52%;
    margin-left: -40px;
    margin-top: -18px;
    text-decoration: none;
}

.video-testimonial-block .video-play::before {
    text-shadow: 0px 2px 0px #000;
    content: "\f144";
    font: normal normal normal 14px/1;
    font-family: FontAwesome;
    font-weight: 900;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 50px;
    color: #fff;
}

.video-testimonial-block .video-play:hover::before {
    color: #fff;
}

.mb10 {
    margin-bottom: 10px;
}

.section-title {
    margin-bottom: 40px;
}

.video-testimonial-block .video-thumbnail img {
    width: 100%;
    height: 100%;
}

.steps-section {
    padding: 100px 0 100px 40px;
    margin-top: 3em;
    background: #f2f2f2;
    text-align: center;
}

.steps-section .steps-heading {
    margin: 10px 0;
    text-transform: none;
    color: #000;
    font-size: 20px;
}

.steps-section p {
    color: #333;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    margin-bottom: 20px;
}

.navbar-fixed-top {
    position: absolute;
    z-index: 0;
}

.steps-three-list li {
    list-style: none;
}

.steps-three-list {
    list-style: none;
    padding-left: 0;
}

.modalbody-content h4 {
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.75;
    text-align: center;
}

.modalbody-content p {
    font-size: 20px;
    font-family: "Montserrat";
    color: #898989;
    font-weight: 500;
    line-height: 1.75;
    text-align: center;
}

.modalbody-content .check-content-list {
    margin-left: 40px;
}

.modalbody-content {
    margin-bottom: 3em;
    margin-top: 1em;
}

.mt-20 {
    margin-top: 20px;
}

.modal-modal-video-testimonial-block {
    position: relative;
    width: auto;
    height: 550px;
    overflow: hidden;
    margin-bottom: 30px;
}

.modal-modal-video-testimonial-block .modal-modal-video-thumbnail {
    height: 550px;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-size: cover;
    top: 0;
    left: 0;
}

.modal-modal-video-testimonial-block .modal-video {}

.modal-modal-video-testimonial-block .modal-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    border: 0px;
}

.modal-modal-video-testimonial-block .modal-modal-video-play {
    position: absolute;
    z-index: 2;
    top: 78%;
    left: 59%;
    text-decoration: none;
}

.modal-modal-video-testimonial-block .modal-modal-video-play::before {
    content: "Replay";
    font: normal normal normal 14px/1;
    font-weight: 900;
    font-size: inherit;
    text-rendering: auto;
    font-size: 50px;
    color: #b3b5bc background: #ff4200;
    background-color: rgb(255, 66, 0);
    color: #fff;
    font-weight: 600;
    padding: 13px 45px;
    border-radius: 30px;
    border: 4px solid #a93810;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.4;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.46);
    border-width: 5px;
    border-color: rgb(170, 56, 16);
    border-style: solid;
    background-color: rgb(255, 66, 0);
    box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.34);
    margin-right: 10px;
}

.modal-modal-video-thumbnail img {
    width: 100%;
    height: 100%;
}

.modal-modal-video-testimonial-block .btn-done {
    position: absolute;
    z-index: 2;
    top: 78%;
    left: 20%;
    text-decoration: none;
    max-width: 336px;
    width: 100
}

.modal-modal-video-testimonial-block .btn-done::before {
    content: "Done!";
    font: normal normal normal 14px/1;
    font-weight: 900;
    font-size: inherit;
    text-rendering: auto;
    font-size: 50px;
    color: #b3b5bc background: #ff4200;
    background-color: rgb(255, 66, 0);
    color: #fff;
    font-weight: 600;
    padding: 13px 130px;
    border-radius: 30px;
    border: 4px solid #a93810;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.4;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.46);
    border-width: 5px;
    border-color: rgb(170, 56, 16);
    border-style: solid;
    background-color: rgb(255, 66, 0);
    box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.34);
    margin-right: 10px;
    %;
}

.modal-modal-video-testimonial-block .modal-modal-video-play:hover::before {
    color: #fff;
}

.mb10 {
    margin-bottom: 10px;
}


/*video icon*/

.modal-video-testimonial-block {
    position: relative;
    width: auto;
    height: 190px;
    overflow: hidden;
    margin-bottom: 30px;
}

.modal-video-testimonial-block .modal-video-thumbnail {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-size: cover;
    top: 0;
    left: 0;
}

.modal-video-testimonial-block .modal-video-thumbnail img {
    width: 100%;
}

.modal-video-testimonial-block .modal-video {}

.modal-video-testimonial-block .modal-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px;
}

.modal-video-testimonial-block .modal-video-play {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 52%;
    margin-left: -40px;
    margin-top: -18px;
    text-decoration: none;
}

.modal-video-testimonial-block .modal-video-play::before {
    text-shadow: 0px 2px 0px #000;
    content: "\f144";
    font: normal normal normal 14px/1;
    font-family: FontAwesome;
    font-weight: 900;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 50px;
    color: #fff;
}

.modal-video-testimonial-block .modal-video-play:hover::before {
    color: #fff;
}

.mb10 {
    margin-bottom: 10px;
}


/*company to coach*/

.btn-orange-dark {
    border-width: 2px;
    border-style: solid;
    border-radius: 37px;
    max-width: 160px;
    height: 70px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 3.00;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.btn-orange-dark.active,
.btn-orange-dark:hover {
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 37px;
    background-color: rgb(154, 56, 21);
    width: 228px;
    height: 70px;
    color: rgb(255, 255, 255);
    line-height: 3.00;
    text-align: center;
}

.btn-orange-dark.active:hover,
.btn-orange-dark.active:focus {
    color: #fff;
}

.header-company-to-caoch .intro-text {
    margin-top: 40px;
    padding-bottom: 30px;
    margin-left: 70px;
}

.color-orange {
    font-size: 25px;
    color: #ff4200 !important;
    font-weight: bold;
    text-align: center;
}

.modalbody-content .tag-content {
    font-size: 16px;
    font-family: "Montserrat";
    color: #898989;
    font-weight: 500;
    text-align: center;
}

.modalbody-content .content-next {
    font-size: 16px;
    font-family: "Montserrat";
    color: #000;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.modalbody-content.modal-body {
    padding: 30px 70px;
}

.steps-single-section .small-text {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.867;
    text-align: left;
    color: #c8c8c8;
    font-style: italic;
}

.gray-btn {
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.4;
    text-align: center;
    opacity: 0.2;
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.4;
    text-align: center;
    border-style: solid;
    background-color: rgb(83, 79, 79);
    padding: 13px 45px;
    border-radius: 30px;
    border-width: 5px;
    border-style: solid;
    margin-right: 10px;
}

.gray-btn:hover,
.gray-btn:focus {
    opacity: 4;
    font-weight: 500;
    background: rgb(83, 79, 79);
}


/*personality assesment*/

.hder-text h3 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    z-index: 8;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.questions_remaining {
    letter-spacing: 0;
}

.cancel-btn {
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(170, 56, 16);
    line-height: 1.4;
    text-align: center;
    border-width: 5px;
    border-color: rgb(170, 56, 16);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    padding: 13px 60px;
    border-radius: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-company-to-caoch .hder-text {
    padding-top: 10px;
    margin-top: 40px;
    padding-bottom: 30px;
    margin-left: 70px;
}

.header-asses-para {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.4;
    text-align: center;
    max-width: 760px;
    margin: 20px auto 55px;
    font-weight: 500;
    width: 100%;
}


/**/

.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.Personality-asses-section {
    margin-top: 3em;
}

.ico-wrap {
    margin: 15px 25px auto 0;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}

.mbr-iconfont img {
    width: 70px;
    height: 70px;
}

.mbr-section-title3 {
    font-size: 18px;
    color: rgb(255, 66, 0);
    font-weight: bold;
}

.Personality-asses-section .text-content p {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.ml-60 {
    margin-left: 60px;
}

.questions_remaining {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(112, 56, 12);
    font-weight: 500;
}

.header-company-to-caoch .ml-0 {
    margin-left: 0px;
}

.pr {
    padding-right: 105px;
}


/*check-content-list Check box*/

.check-content-list input[type="checkbox"]+.label-text:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

.check-content-list {
    padding-top: 5em;
}

.check-content-list .label-text {
    color: #020202;
    font-size: 16px;
}

.check-content-list input[type="checkbox"]:checked+.label-text::before {
    content: "\f14a";
    color: #212529;
    animation: effect 250ms ease-in;
}

.check-content-list input[type="checkbox"]:checked+.label-text:before {
    content: "\f096";
    color: #2980b9;
    animation: effect 250ms ease-in;
}

.check-content-list input[type="checkbox"]:disabled+.label-text {
    color: #aaa;
}

.check-content-list input[type="checkbox"]:disabled+.label-text:before {
    content: "\f0c8";
    color: #ccc;
}

.btn-width {
    width: 350px;
    margin: 35px auto 0;
}

@keyframes effect {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1.3);
    }
    75% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.check-content-list label {
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 30px;
}

.check-content-list input[type="checkbox"],
.check-content-list input[type="radio"] {
    position: absolute;
    right: 9000px;
}


/*Check box*/

.check-content-list input[type="checkbox"]+.label-text:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}

.check-content-list input[type="checkbox"]:checked+.label-text:before {
    content: "\f14a";
    color: #212529;
    animation: effect 250ms ease-in;
}

.check-content-list input[type="checkbox"]:disabled+.label-text {
    color: #aaa;
}

.check-content-list input[type="checkbox"]:disabled+.label-text:before {
    content: "\f0c8";
    color: #ccc;
}

.check-content-list .form-check {
    padding-left: 0;
}

.form-check:nth-child(2) {
    /*margin-bottom: 60px;*/
}

.check-content-list img {
    width: 60px;
    height: 100px;
}

.navbar-nav {
    margin-top: 25px;
}

.header-company-to-caoch .hder-text {
    margin-left: 0;
}

.mr-t-3em {
    margin-top: 3em;
}

.mr-t-2em {
    margin-top: 2em;
}


/*assignment question*/

.questions .form-control {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    padding-left: 0;
    font-weight: 600;
}

.questions h4 {
    color: #000;
}

.questions {
    margin-bottom: 6em;
    margin-top: 3em;
}

.mr-auto .header-asses-para {
    margin: 49px auto 0px;
    ;
}

.activity-list p {
    margin-left: 20px;
}


/*upload*/

.file-upload {
    background-color: #ffffff;
    margin: 0 auto;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: #b4aeae 2px dashed;
    border-radius: 8px;
    position: relative;
    padding: 65px 30px;
}

.image-dropping,
.image-upload-wrap:hover {
    border: #b4aeae 2px dashed;
    border-radius: 8px;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

.drag-text p {
    color: #aeabab;
    font-weight: 600;
    margin: 0 30px 0 30px;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.mb-40 {
    margin-bottom: 40px;
}

.upload-video-link,
.upload-video-link:hover,
.upload-video-link:focus {
    color: #aeabab;
    text-decoration: none;
}

.color-red {
    color: #e32b2c;
    font-size: 16px;
}

.bottom-text .meeting-details {
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

.steps-single-pos {
    position: relative;
}

.steps-single-pos .arrow {
    position: absolute;
    top: 100px;
    right: 240px;
}

.wrap-step {
    box-shadow: none;
}

.video-background {
    background: linear-gradient(110deg, rgba(255, 66, 0, 1) 43%, rgba(255, 99, 0, 1) 51%, rgba(255, 133, 0, 1) 58%);
}

.video-background .video-testimonial-block {
    position: relative;
    max-width: 700px;
    margin: 115px auto;
    overflow: initial;
    width: 100%;
    height: 320px;
}

.video-background .mt-block {
    margin: 74px auto;
}

.video-background .hder-text h3 {
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.36);
    top: 96px;
    position: relative;
    text-align: center;
    z-index: 0;
}

.video-text {
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 52%;
    left: 25%;
    margin-top: 37px;
    text-decoration: none;
}

.Click_to_play {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 54%;
    left: 37%;
    margin-top: 75px;
    text-decoration: none;
}

.popup-bottom-buttons {
    position: relative;
    z-index: 2;
    top: 50%;
    left: 7%;
    margin-top: 75px;
}

.video-modal-box .video-block {
    position: relative;
    width: auto;
    height: 550px;
    overflow: hidden;
    margin-bottom: 30px;
}

.video-modal-box .video-block .popup-bottom-buttons {
    position: relative;
    z-index: 2;
    top: 50%;
    left: 0%;
    margin-top: 140px;
}

.file-upload {
    position: relative;
}

.updeated-file span {
    color: #2bc62b;
    position: absolute;
    right: 15px;
    top: 15px;
}

.popup-bottom-buttons .btn-orange1 {
    min-width: 336px;
}

.Personality-asses-section .title {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-left: 130px;
}

.cancel-btn {
    position: relative;
    z-index: 1;
}

.cancel-btn img {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}


/*login page*/


/*-- //Reset-Code --*/

.main-form .img-fluid {
    max-width: 100%;
    height: auto;
}

.main-form .content-right {
    background-image: linear-gradient(to bottom right, #ff6100, #ffab00);
    padding: 16em 10em 15em 10em;
}

.login-btn-orange,
.btn-orange-3 {
    background: #ff4200;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #fff;
    padding: 14px;
    border-radius: 4px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.forgot-password {
    float: right !important;
    padding-top: 20px;
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.forgot-password:hover {
    color: #000;
}

.main-form select,
input[type="email"],
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea,
span {
    font-family: 'Roboto', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
}

.main-form figure {
    width: 450px;
    margin: 80px auto;
}

.login-form .form-group {
    margin-bottom: 2em;
}

.login-form .form-control {
    padding: 10px;
    padding: 10px;
    font-size: 12px;
    height: 45px;
    border-radius: 3px;
}

.login-form figure {
    margin-top: 8em;
}


/*checkbox custom*/

.myform label {
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 30px;
}

.myform input[type="checkbox"],
.myform input[type="radio"] {
    position: absolute;
    right: 9000px;
}

.myform .label-text {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1px;
}


/*Check box*/

.myform input[type="checkbox"]+.label-text:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
    padding-bottom: 3px;
}

.myform input[type="checkbox"]:checked+.label-text:before {
    content: "\f14a";
    color: #fff;
    animation: effect 250ms ease-in;
}

.myform input[type="checkbox"]:disabled+.label-text {
    color: #aaa;
}

.myform input[type="checkbox"]:disabled+.label-text:before {
    content: "\f0c8";
    color: #ccc;
}


/*checkbox custom*/

.myform label {
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 30px;
}

.myform input[type="checkbox"],
.myform input[type="radio"] {
    position: absolute;
    right: 9000px;
}

.myform .label-text {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

.login-form .has-success .form-control-feedback {
    top: 15px;
}

.login-form .has-error .form-control-feedback {
    top: 15px;
}


/*course code page*/

.top-banner1 {
    background-image: url(../images/header-banner-image1.png);
    padding: 45px 0 45px 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.top-banner2 {
    background-image: url(../images/header-banner-image2.png);
    padding: 45px 0 45px 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.breatcome_content h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0;
}

.breatcome_content p {
    color: #fff;
    letter-spacing: 0;
    margin-top: 15px;
    font-weight: 500;
    line-height: 1.42857143;
}


/*check-content-list Check box*/

.check-content-lists input[type="checkbox"]+.label-text:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

.check-content-lists {
    padding-bottom: 3em;
}

.check-content-lists .form-check:nth-child(2) {
    margin-bottom: 0;
}

.mtb-40 {
    padding-top: 5em;
    margin-bottom: 3em;
}

.check-content-lists input[type="checkbox"]:checked+.label-text:before {
    content: "\f096";
    color: #2980b9;
    animation: effect 250ms ease-in;
}

.check-content-lists input[type="checkbox"]:disabled+.label-text {
    color: #aaa;
}

.check-content-lists input[type="checkbox"]:disabled+.label-text:before {
    content: "\f0c8";
    color: #ccc;
}

.btn-width {
    max-width: 350px;
    margin: 35px auto 0;
    width: 100%;
}

@keyframes effect {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1.3);
    }
    75% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.check-content-lists label {
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 30px;
}

.check-content-lists input[type="checkbox"],
.check-content-lists input[type="radio"] {
    position: absolute;
    right: 9000px;
}


/*Check box*/

.check-content-lists input[type="checkbox"]+.label-text:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}

.check-content-lists input[type="checkbox"]:checked+.label-text:before {
    content: "\f14a";
    color: #212529;
    animation: effect 250ms ease-in;
}

.check-content-lists input[type="checkbox"]:disabled+.label-text {
    color: #aaa;
}

.check-content-lists input[type="checkbox"]:disabled+.label-text:before {
    content: "\f0c8";
    color: #ccc;
}

.check-content-lists .form-check {
    padding-left: 0;
}

.check-content-lists span {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.check-content-lists label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}


/*training page*/

.img-fluid {
    max-width: 100%;
    height: auto;
}


/*service training*/

.em-service {
    margin-top: 4em;
}

.em_service_content {
    background: #fff;
    border-radius: 5px;
    position: relative;
    padding: 25px 0 20px 40px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
    min-height: 140px;
    margin-bottom: 50px;
}

.em-service-title h2 {
    margin: 5px 0 10px;
    font-size: 18px;
    padding: 0;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    color: #ff4200;
}

.em-service-desc p {
    color: #333;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    width: 600px;
    max-width: 100%;
    margin-bottom: 10px;
    line-height: 1.42857143;
}

.service-btn a {
    color: #ff4200;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.check-lists .label-text {
    color: #020202;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0;
}

.nav-menu-index {
    z-index: 1 !important;
}


/************Responsive Design****************/

@media (max-width:991px) {
    .navbar-brand {
        padding: 5px 10px;
    }
    .navbar-brand img {
        width: 90px;
    }
    .header-company-to-caoch .intro-text {
        margin-left: 0;
    }
    .steps-single-section,
    .steps-section {
        margin-left: 15px;
        margin-right: 15px;
    }
    .steps-single-section,
    .steps-section {
        padding: 20px 0 15px 15px;
    }
    .steps-single-section .video-testimonial-block {
        margin-top: 20px;
    }
    .btn-orange {
        margin-top: 10px !important;
    }
    .header-company-to-caoch .intro-text {
        margin-top: 0px;
    }
    .gray-btn {
        margin-top: 10px;
    }
    .check-content-list {
        padding-top: 0;
    }
    .btn-orange-dark {
        margin: 5px;
    }
    .main-form figure {
        margin-top: 0em;
    }
    .main-form .content-right {
        padding: 3em 2em 3em 2em;
    }
    .main-form .navbar-nav .dropdown-menu {
        background: rgb(154, 56, 21) !important;
    }
}

@media (max-width:767px) {
    .navbar-nav {
        margin-top: 0;
        background: #aa3810;
    }
    .navbar-brand img {
        width: 45px;
    }
    .navbar-fixed-top {
        position: absolute;
        z-index: 2;
    }
    .hder-text h3 {
        font-size: 45px;
    }
    .cancel-btn {
        margin-top: 20px;
    }
    .main-form figure {
        width: 230px;
        margin: 80px auto;
    }
}

@media (max-width:600px) {
    .pr {
        padding-right: 25px;
    }
    .modal-modal-video-testimonial-block .btn-done {
        top: 65%;
        left: 8px;
    }
    .modal-modal-video-testimonial-block .modal-modal-video-play {
        top: 78%;
        left: 25%;
    }
    .video-background .hder-text h3 {
        overflow: hidden;
    }
}

@media (max-width:600px) {
    .ml-60 {
        margin-left: 0px;
    }
}


/* Decision Making Menu*/

.menuNavCircular .circle,
.menuNavCircular .circle:before,
.menuNavCircular .circle:after {
    border-radius: 50%;
}

.menuNavCircular {
    position: relative;
    display: block;
    left: 0;
    margin: 150px auto;
    min-width: 10em;
    width: 50%;
    max-width: 30em;
}

.menuNavCircular ul {
    position: relative;
    padding: 50%;
    max-width: 0;
    max-height: 0;
    list-style: none;
}

.menuNavCircular li {
    position: absolute;
}

.menuNavCircular .slice {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 55%;
    transform-origin: 100% 100%;
    border: 2px solid #fff;
}


/* Cell orientation */

.menuNavCircular .coconut {
    transform: rotate(13deg) skewX(40deg);
}

.menuNavCircular .vanilla {
    transform: rotate(58deg) skewX(40deg);
}

.menuNavCircular .orange {
    transform: rotate(103deg) skewX(40deg);
}

.menuNavCircular .almond {
    transform: rotate(148deg) skewX(40deg);
}

.menuNavCircular .grape {
    transform: rotate(193deg) skewX(40deg);
}

.menuNavCircular .blackberry {
    transform: rotate(238deg) skewX(40deg);
}

.menuNavCircular .cherry {
    transform: rotate(283deg) skewX(40deg);
}

.menuNavCircular .apple {
    transform: rotate(328deg) skewX(40deg);
}

.menuNavCircular .menunav label {
    cursor: pointer;
}

.menuNavCircular .slice label {
    display: block;
    width: 200%;
    height: 200%;
    max-width: 200%;
    transform: skew(-40deg) rotate(-65deg);
    line-height: 1.9;
    text-align: center;
}

.menuNavCircular .slice label span {
    display: block;
}

.menuNavCircular .slice label:hover {
    color: white;
    border: 1px solid #ff6700;
}

.menuNavCircular .circle .menuname:hover {
    color: white;
    transition: color 0.5s ease;
}

.menuNavCircular .menudesc {
    width: 280px;
}


/* Cell background colors */

.menuNavCircular .coconut label,
.menuNavCircular .ococonut:checked~nav .unsel {
    background: #ff4200;
}

.menuNavCircular .vanilla label,
.menuNavCircular .ovanilla:checked~nav .unsel {
    background: #ff4200;
}

.menuNavCircular .orange label,
.menuNavCircular .oorange:checked~nav .unsel {
    background: #ff4200;
}

.menuNavCircular .almond label,
.menuNavCircular .oalmond:checked~nav .unsel {
    background: #ff4200;
}

.menuNavCircular .grape label,
.menuNavCircular .ogrape:checked~nav .unsel {
    background: #ff4200;
}

.menuNavCircular .blackberry label,
.menuNavCircular .oblackberry:checked~nav .unsel {
    background: #ff4200;
}

.menuNavCircular .cherry label,
.menuNavCircular .ocherry:checked~nav .unsel {
    background: #ff4200;
}

.menuNavCircular .slice label {
    font-weight: 700;
    line-height: 5;
}

.menuNavCircular .circle label {
    font-weight: 700;
    line-height: 5;
}

.menuNavCircular .slice p {
    width: 100px;
    margin-left: 185px;
}

.menuNavCircular .unsel {
    z-index: 2;
    top: 40%;
    left: 40%;
    width: 32%;
    height: 32%;
    text-align: center;
}

.menuNavCircular .unsel label {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 9;
    border-radius: 50%;
    background-color: wheat;
    border: 1px solid #fff;
}

.menuNavCircular .middle {
    z-index: 1;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    text-align: center;
    background-color: white;
}

.menuNavCircular .menuNavCircular {
    position: relative;
    left: 0;
}

.menuNavCircular .visible {
    display: block;
    position: absolute;
    margin: 250px 0 0 250px;
}

.menuNavCircular .hidden {
    display: none;
}

.menuNavCircular .visible ul {
    list-style-type: none;
}

.menuNavCircular .visible details ul {
    list-style-type: square;
}

.menuNavCircular .visible a {
    font-size: 120%;
    text-decoration: none;
    color: purple;
}

.menuNavCircular .Reseau a {
    font-size: 160%;
}

.menuNavCircular .Reseau a:hover {
    color: red;
}

.menuNavCircular .circle label span {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.modal-footer-center {
    text-align: center;
}

.btn-next-orange {
    background: #ff4200;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #fff;
    padding: 10px 25px 6px 25px;
    border-radius: 4px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.menuNavCircular .active {
    background: red !important;
    color: #fff;
}

.menuNavCircular .complete {
    background: #ff5200 !important;
    border: 1px solid #fff;
}

.menuNavCircular .disabled {
    cursor: not-allowed !important;
}

.menuNavCircular .fade-color label {
    background: #ffa07f;
    color: #fff;
}

.menuNavCircular .complete {
    background: #ff4200;
    color: #fff;
}

.menuNavCircular .rotate-text {
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
    top: 18px;
    line-height: 11;
}

@media (max-width:600px) {
    .menuNavCircular .unsel label {
        font-size: 10px;
    }
    .menuNavCircular .slice label span {
        font-size: 9px;
    }
}


/*chart design*/

.chartsContainer .health-header {
    padding: 25px 50px 47px 50px;
    width: 100%;
    background-image: url(../images/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.chartsContainer .health-navbar {
    width: 100%;
    display: inline-block;
    margin: 0px !important;
}

.chartsContainer .health-logo {
    width: 100%;
    padding-bottom: 30px;
    font-weight: 800;
    text-align: center;
    font-size: 30px;
    color: #fff;
    /* padding: 50px; */
    font-family: "Montserrat-Bold";
    letter-spacing: 35px;
}

.chartsContainer .wheel-title {
    text-align: center;
    font-size: 50px;
    color: #fd6001;
    padding: 20px 0px 0px;
    font-family: "BebasNeue-Bold";
}

.chartsContainer .wheel-title p {
    margin: 0px;
}

.chartsContainer .wheel-subtext {
    text-align: center;
    font-size: 20px;
    font-family: "Lato-Reg";
}

.chartsContainer .categories {
    width: 100%;
    display: inline-block;
    padding: 0px;
    position: relative;
    text-align: center;
    margin: 30px auto;
}

.chartsContainer .highcharts-title,
.chartsContainer .highcharts-button-box,
.chartsContainer .highcharts-legend,
.chartsContainer .highcharts-button-symbol,
.chartsContainer .highcharts-credits {
    display: none;
}

.chartsContainer .wealth {
    font-family: "Lato-Reg";
    float: left;
    width: 16%;
    text-align: center;
    font-size: 25px;
    margin: 15px auto;
    display: inline-block;
}

.chartsContainer .abc {
    max-width: 100%;
    /* width: 70%; */
    /*height: 20%;*/
    padding: 0px;
}

.chartsContainer .hoverImg {
    display: none;
}

.chartsContainer .hoverImg2 {
    display: none;
}

.chartsContainer .hoverImg3 {
    display: none;
}

.chartsContainer .hoverImg4 {
    display: none;
}

.chartsContainer .hoverImg5 {
    display: none;
}

.chartsContainer .hoverImg6 {
    display: none;
}

.chartsContainer #wealth:hover .hoverImg {
    display: block;
}

.chartsContainer #wealth:hover .wealth_text {
    color: #f05b28;
}

.chartsContainer #wealth:hover .main_image {
    display: none;
}

.chartsContainer #relationship:hover .hoverImg2 {
    display: block;
}

.chartsContainer #relationship:hover .relationship_text {
    color: #f05b28;
}

.chartsContainer #relationship:hover .main_image2 {
    display: none;
}

.chartsContainer #health:hover .hoverImg4 {
    display: block;
}

.chartsContainer #health:hover .health_text {
    color: #f05b28;
}

.chartsContainer #health:hover .main_image4 {
    display: none;
}

.chartsContainer #business:hover .hoverImg3 {
    display: block;
}

.chartsContainer #business:hover .business_text {
    color: #f05b28;
}

.chartsContainer #business:hover .main_image3 {
    display: none;
}

.chartsContainer #training:hover .hoverImg5 {
    display: block;
}

.chartsContainer #training:hover .training_text {
    color: #f05b28;
}

.chartsContainer #training:hover .main_image5 {
    display: none;
}

.chartsContainer #marketing:hover .hoverImg6 {
    display: block;
}

.chartsContainer #marketing:hover .marketing_text {
    color: #f05b28;
}

.chartsContainer #marketing:hover .main_image6 {
    display: none;
}

.chartsContainer .wealth img {
    padding: 30px;
}

.chartsContainer .textab {
    width: 85%;
    margin: 20px auto;
    font-size: 20px;
}

.chartsContainer .color-box {
    color: #fff;
    height: 25px;
    width: 40px;
    border: 2px solid #fff;
    list-style: none;
    /*background: red;*/
    float: left;
}

.chartsContainer .color-text {
    color: #000;
    float: left;
    font-size: 17px;
    padding-left: 12px;
    margin: 0px;
}

.chartsContainer .color-index {
    padding-left: 25px;
    padding-top: 86px;
}

.chartsContainer .color-value {
    padding-left: 10px;
    float: right;
    font-size: 18px;
    color: #000;
    margin: 0px;
}

.chartsContainer ul {
    margin: 0px;
}

@media (max-width:767px) {
    .chartsContainer .color-index {
        padding-left: 0px;
        padding-top: 0;
    }
    .chartsContainer ul {
        padding: 0;
    }
}

#polarChart {
    margin-top: 80px;
}

.dec_modal_dialog {
    margin: 67px auto;
}

.dec_modal_content {
    min-height: 364px;
}


/*decision making css*/

@media (max-width:767px) {
    .menuNavCircular {
        margin: 45px auto;
        width: 95%;
    }
    .menuNavCircular ul {
        position: relative;
        padding: 45%;
        max-width: 0;
        max-height: 0;
        list-style: none;
    }
}

@media (max-width:420px) {
    .menuNavCircular .circle label span {
        font-size: 13px;
    }
}

@media (max-width:419px) {
    .menuNavCircular .circle label span {
        font-size: 12px;
    }
}

@media (min-width:300px) and (max-width:400px) {
    .menuNavCircular .circle label span {
        font-size: 9px;
    }
    .menuNavCircular .unsel label {
        line-height: 6;
    }
}


/*resource center*/

.single-block {
    height: 190px;
    width: 100%;
    border: 1px solid #ddd;
}

.single-video-block .img-responsive {
    /*width: 100%;
    height: 100%;*/
}

.block-single-section {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
    padding: 15px 0px;
    margin-bottom: 2em;
}

.block-single-section .single-video-block {
    margin-bottom: 0;
    border: 1px solid #ddd;
    padding: 10px;
}

.single-file-block {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.img-main-class {
    width: 35%;
}

.single-video-block {
    position: relative;
    width: auto;
    /*height: 190px;*/
    overflow: hidden;
}

.single-video-block .video-play {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 55%;
    margin-left: -40px;
    margin-top: -18px;
    text-decoration: none;
}

.tp_margin_main_dv {
    margin-top: 4em;
}

.single-video-block .video-play::before {
    /*text-shadow: 0px 2px 0px #000;
    content: "\f144";
    font: normal normal normal 14px/1;
    font-family: FontAwesome;
    font-weight: 900;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 50px;
    color: #fff;*/
}

.single-video-block audio {
    background: linear-gradient(110deg, rgba(255, 66, 0, 1) 43%, rgba(255, 99, 0, 1) 51%, rgba(255, 133, 0, 1) 58%);
    width: 100% !important;
}

.modal_bdy_pd {
    padding: 0;
}

.audio_mdl_content {
    margin-top: 50%;
}

.video_mdl_content {
    margin-top: 25%;
}

.mb-single-blk {
    margin-bottom: 20px;
}

@media (max-width:991px) {
    .mr-btm-rs {
        margin-bottom: 20px;
    }
}

.check-content-list.check_list_questions {
    padding-top: 2em;
}


/**************************************
    Coach To Client
**************************************/

.mb_15 {
    margin-bottom: 15px;
}

header.coach-to-client-header {
    background: url(../images/header-banner-image-client.png) no-repeat;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    min-height: 450px;
}

.check-participants-list {
    padding-top: 0;
}

.coach2client-modal .modalbody-content p {
    font-size: 16px;
}

.check-participants-list label {
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 30px;
    line-height: 1;
}

.check-participants-list .label-text {
    color: #020202;
    font-size: 14px;
    font-family: "Montserrat";
    color: #000;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
}

#overlay-tool-modal .modal-dialog {
    max-width: 100%;
    width: 1170px;
}

.highlight-text {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px
}

.top-single-block11 {
    background: #fff;
    padding: 70px 15px;
    z-index: 3;
    position: relative;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
}

.top-single-block12 {
    background: #c1c1c1;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 14px;
    left: 40px;
    z-index: 1;
}

.top-single-block-position {
    position: relative;
    top: 62%;
}

.right-col {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
    padding: 15px 25px 30px 34px;
    background: #fff;
    margin-top: 35px;
}

.pr8-0 {
    padding-left: 0;
}

.top-single-block-position {
    margin-top: -15%;
}

.top-single-block-position .carousel-control {
    opacity: inherit !important;
}

.carousel-control.left {
    background-image: none !important;
}

.carousel-control.right {
    background-image: none !important;
}

.top-single-block-position a.carousel-control {
    color: #000 !important;
}

.top-single-block-position .glyphicon-chevron-right::before {
    font-size: 14px !important;
}

.top-single-block-position .glyphicon-chevron-left::before {
    font-size: 14px !important;
}

.top-single-block-position h3 {
    color: #000;
    font-size: 20px;
}

.top-single-block-position .carousel-inner .item {
    padding: 0 50px;
}

.top-single-block-position p {
    color: #000;
    font-weight: 600;
}

.top-single-block-position .laft-days {
    color: rgb(135, 135, 135);
}

.top-single-block-position a {
    color: rgb(135, 135, 135);
    font-weight: 700;
    line-height: 3;
    text-decoration: none;
}

.right-block-margin {
    margin-left: 100px;
}

.right-block-width {
    width: 100%;
    max-width: 343px;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.top-single-block13 {
    background: #e0e0e0;
    position: absolute;
    width: 90%;
    height: 94%;
    top: 10px;
    left: 33px;
    z-index: 1;
}

.top-single-block-row {
    margin-top: -180px;
    margin-left: -30px;
}

@media (max-width:991px) {
    .pr8-0 {
        padding-left: 15px;
    }
}

.top-buttons {
    margin-bottom: 40px;
}

#cust-data-tbl_filter {
    text-align: right;
    margin-bottom: 15px;
}

#cust-data-tbl_filter .form-control {
    margin-left: 10px;
}

#cust-data-tbl_paginate {
    text-align: right;
}

.cust-navigation-menubar .navbar-nav {
    margin-top: 0;
}

.cust-navigation-menubar {
    border-radius: 0;
    background: #fff;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-top: none;
}

.cust-navigation-menubar .navbar-nav>.active>a,
.cust-navigation-menubar .navbar-nav>.active>a:focus,
.cust-navigation-menubar .navbar-nav>.active>a:hover {
    border-bottom: rgb(255, 66, 0) 2px solid;
    background: transparent;
    color: rgb(255, 66, 0);
}

.cust-navigation-menubar .navbar-nav>li>a {
    font-weight: 600;
    color: #777;
}

.cust-navigation-menubar .navbar-collapse,
.navbar-inverse .navbar-form {
    padding-left: 0;
}

.new-cust-add-btn {
    border-radius: 0;
}

.btn-orange.new-cust-add-btn {
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    border-width: 1px;
    margin-top: 2px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
    text-shadow: none;
}